<header class="py-3 mb-4">
  <h2>Examples of some API's</h2>
</header>
<div class="row">
  <div class="col-sm-12">
    <form #countries="ngForm">
      <div class="form-group">
        <label for="countrySelected">Select country:</label>
        <select class="form-control" name="countrySelected" id="" #countrySelect [(ngModel)]="countrySelected" (change)="onChangeCountry()"
          [disabled]="countriesList ? false : true">
          <option [ngValue]="country" *ngFor="let country of countriesList">{{country.name}}</option>
        </select>
        <p>
          <strong>JSON:</strong>
          <br>{{JsonCountry}}</p>
      </div>
    </form>
  </div>
</div>
